<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Mission SHOW</h1>

    <%= missions.name %>, a <%= missions.missionType %> vehicle was launched on
    <%= missions.launchDate %> by <%= missions.operator %>.



    <!-- note: the <%= %> tag is for AN EXPRESSION.  -->
    <!-- <% %> tag can have javascript inside -->

  </body>
</html>
