<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Show</h1>

	<span>The name of this mission is <%=mission.name%>. Launch date is <%=mission.launchDate%>. The mission will be operated by <%=mission.operator%>. The mission type is <%=mission.missionType%>. </span>

	<br/>

	<img src=<%=mission.img %> height='200' width='200' />

</body>
</html>