<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>
<body>
	<h1>Show</h1>

	<h4>The name of this mission is <%=mission.name%>. Launch date is <%=mission.launchDate%>. The mission will be operated by <%=mission.operator%>. The mission type is <%=mission.missionType%>. </h4>

	<br/>

	<img src=<%=mission.img %> height='400' width='400'/>

</body>
</html>