<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<h1>Mission show page</h1>

	Name: <%= mission.name%><br>
	Lounch date: <%= mission.launchDate%><br>
	Operator: <%= mission.operator%><br>
    MissionType: <%= mission.missionType%><br>
    <img src="<%= mission.img%>">
</body>
</html>